<div class="fsh-rightPanel">
    <div class="layui-anim layui-anim-upbit">
        <div class="layui-form-item wx-search" id="list_form">
            <div class="layui-inline">
                <input type="text" name="inputcode" placeholder="请输入关键字" autocomplete="off" class="layui-input">
            </div>
            <button class="layui-btn btn-primary" id="search">搜索</button>
            <div class="layui-inline right">
            	<button class="layui-btn btn-danger" id="tpl_sync">同步模板</button>
                <button class="layui-btn btn-primary" id="msg_add">新建消息</button>
                <button class="layui-btn btn-primary" id="msg_del">删除消息</button>
            </div>
        </div>
        <table id="list_table" class="layui-hide" lay-filter="mainList"></table>
    </div>
</div>

<script>
    layui.use(['layer', 'table'], function () {
        var layer = layui.layer;
        var table = layui.table;


        var tableObj = table.render({
            id: 'list_table',
            elem: '#list_table',
            url: '/tplmsgtext/list',
            align: "center",
            cols: [[ //表头
                {type: 'checkbox'},
                {type: 'numbers', title: '序号',width:50},
                {field: 'wxTplTitle', title: '模板标题', width: 100, align: 'center',},
                {field: 'wxTpl', title: '微信模板', align: 'center',},
                {field: 'wxTplParam', title: '配置参数', align: 'center',},
                {field: 'title', title: '消息内容', align: 'center',},
                {field: 'content', title: '消息内容', align: 'center',},
                {
                    field: 'lock', title: '操作', width: 150, align: 'center', templet: function (d) {
                    return '<a class="font-primary2" lay-event="edit" href="javascript:;">修改</a>' +
                        '<a class="font-primary" lay-event="mass" href="javascript:;">发送</a>';
                }, unresize: true, align: 'center'
                }
            ]],
        });

        $("#search").click(function () {
            reloadTable(tableObj);
        });

     // 批量同步模板
        $("#tpl_sync").click(function () {
            layer.confirm('确认同步微信模板？', {
                icon: 7,
                title: "提示",
                btn: ['确认', '取消'] //按钮
            }, function () {
                $.ajax({
                    url: '/wxapi/syncWechatTemplates',
                    success: function (result) {
                        if (result.success) {
                            layer.msg("同步成功");
                            reloadTable(tableObj);
                        }
                    },
                    error: function () {
                        layer.msg("同步异常");
                    }
                })
            }, function () {
                layer.closeAll();
            });
        });
     
        // 添加
        $("#msg_add").click(function () {
        	var tplList;
        	/* $.ajax({
        		type:'get',
                url:'/tplmsgtext/getTplList', //后端接口
                dataType:'json',
                success:function (rec) {
                	if (rec.success) {
                        layer.msg("&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&");                        
                    }
        			tplList=rec.data;
        			$.each(tplList,function(i,item){
        				layer.msg(item['title']);//设置value值
        			})
        			
        		}
        	}); */
                 showDialog({
                    title: '添加'
                    , template: 'add'
                    , saveUrl: '/tplmsgtext/updateText'
                    , tableObj: tableObj
                    , htmlData:'add_form'
                    , success: function (layero, index) {//弹出层打开后的回调函数
                        var novelType = layer.getChildFrame('select', index);//获取弹出层的dom元素
                        //var novelType=document.getElementById('tplSelect');
                        layer.msg(novelType);
                        $.each(tplList,function(i,item){
                            var option=document.createElement("option"); //创建option标签
                            option.setAttribute("value",item['template_id']);//设置value值
                            
                            option.innerText=item['title'];//显示text内容
                            novelType.appendChild(option);
                            form.render('select');//重新渲染
                        })
                    }
                    })  
                
                
                });
        // 删除
        $("#msg_del").click(function () {
            var data = table.checkStatus('list_table').data;//已选中数据
            if (data.length == 0) {
                layer.msg("至少选择一条");
                return;
            }
            var arr = [];     //选中数组
            for (var i = 0; i < data.length; i++) {
                arr.push(data[i].baseId)
            }
            showConfirm("确认删除？", function () {
                $.ajax({
                    url: '/tplmsgtext/deleteById',
                    data: {"baseId": arr.join(",")},
                    success: function (result) {
                        if (result.success) {
                            layer.msg("删除成功");
                            reloadTable(tableObj);
                        } else {
                            layer.msg("删除失败");
                        }
                    }
                })
            });
        });


        //表格内部操作按钮监听
        table.on('tool(mainList)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
		
            if (layEvent === 'edit') {
                showDialog({
                    title: '修改',
                    template: 'edit',
                    saveUrl: '/tplmsgtext/updateText',
                    tableObj: tableObj,
                    htmlData: data,
                })
            } else if (layEvent === 'mass') {
                showDialog({
                    title: '发送',
                    template: '/views/common/template/fans-chose.html',
                    height: 600,
                    yes:function (index) {
                        if(GLOBAL.choosed.length<2){
                            layer.msg("至少选择2个粉丝");
                            return false;
                        }
                        var vartpl={"content":data.content,"title":data.title,"tplId":data.tplId,"wxTplParam":data.wxTplParam};
                       // layer.msg(vartpl);
                        $.ajax({
                            url: '/wxapi/sendTemplateMessage',
                            data: {
                            	tplid:data.id,                           	
                                openIds: GLOBAL.choosed.join(",")
                            },
                            success: function (result) {
                                if ( result.success == true) {
                                    layer.msg("群发成功");
                                    reloadTable(tableObj);
                                    layer.close(index);
                                } else {
                                    layer.msg("群发失败");
                                }
                            }
                        })
                    },
                    end:function () {
                        GLOBAL.choosed=[];
                    }
                });
            }
        });



    });
</script>
